POSTGRES_HOST=your-host
POSTGRES_DB=your-db-name
POSTGRES_USER=your-username
POSTGRES_PASSWORD=your-password

AWS_ACCESS_KEY=your-access-key
AWS_SECRET_KEY=your-secret-key
AWS_S3_BUCKET_NAME=your-bucket-name
AWS_REGION=your-bucket-region

JWT_SECRET=your-secret
JWT_EXPIRATION=your-time-expiration

OPENAI_API_KEY=your-key